@import '_preset.css';

/* block theme -------------------------------------------------------------- */
.democracy{ border-color:#ccc; border: 1px solid rgba(0,0,0,.2); padding:1em; padding-bottom:0; background-color: #eee; background-color:rgba(0,0,0,.1);  }

.dem-poll-title{ margin:0; font-size:115%; margin:-.9em; margin-bottom:1em; text-align: center; padding:1em; border-bottom: 1px solid rgba(0,0,0,.15); }

.dem-percent-txt,
.dem-label-percent-txt{ display: none; }

.dem-votes-txt-percent:before{ content:'- '; display:inline; }

.dem-revote-link:before{ content:'◂ '; }

.dem-graph{ background-color: rgba(255,255,255,.8); }

/* / block theme -------------------------------------------------------------- */



