/* common */
.democracy{ position:relative; margin:0 auto; }
.democracy:after{ content:'';display: table; clear: both; }
.democracy ul li{ list-style:none!important; background:none!important; border:none!important; }
.democracy ul li:before{ display: none!important; }

.democracy input{ vertical-align:middle; outline: none!important; }
.democracy input[type='radio'] { margin-right:0.1em; }

.dem-screen{ position:relative; line-height: 1.3em; }

ul.dem-answers, ul.dem-vote{ padding:0!important; margin-bottom:1em !important; }



/* vote screen */
.dem-link, .dem-archive-link{ font-style:italic; font-size:90%; }
.dem-archive-link{ text-align: right;  }
.dem-revote-link:before, .dem-vote-link:before{ content:'â† '; }

.dem-add-answer{ position:relative; box-sizing: border-box!important; }
.dem-add-answer > *{ display: block; }
.dem-add-answer a{ display: inline-block; margin-top:0.5em; }
.dem-add-answer-txt{ width:100%; }
.add-answer-txt-close{ position: absolute; right:0; padding:0 .7em; cursor: pointer; color:#333; }
.add-answer-txt-close:hover{  color:#ff2700; }

.dem-vote label{ float:none; display:block; padding-bottom:0.5em; }
.dem-vote label:hover{ opacity:.8; }
.dem-vote-info{ margin-bottom:1%; }
.dem-vote-info:after{ content:''; display: table; clear: both; }
.dem-vote-info > *{ display: inline-block; font-style: italic; float: right; clear:both; text-align:right; font-size:85%; opacity:0.7; line-height: 1.3; }


/* results screen */
.dem-answers .label{ margin-bottom:.2em; line-height: 1.1; }
.dem-answers li{ margin-bottom:0.7em; }
.dem-graph{ position:relative; font-family:Arial, sans-serif; margin-bottom: 0.6em; border:1px solid rgba(0,0,0,.1); height:0.9em; line-height:0.9em; box-sizing:content-box;
	background: #F7F7F7; background:linear-gradient( to bottom, #F7F7F7 50%, #ededed 50% ); background:-webkit-linear-gradient( top, #F7F7F7 50%, #ededed 50% ); }
.dem-graph > *{ font-size:80%; }
.dem-graph .dem-fill{ position:absolute; top:0; left:0; height:100%; 
	background:#a8a8a8; background:linear-gradient( to right, #c1c1c1, #a8a8a8 ); background:-webkit-linear-gradient( left, #c1c1c1, #a8a8a8 ); }
.dem-voted-this{ font-weight: bold; }
.dem-voted-this .dem-graph{ border-color:#7c7c7c; }
.dem-voted-this .dem-fill{ background:#7b7b7b; background:linear-gradient( to right, #a3a3a3, #696868 ); background:-webkit-linear-gradient( left, #a3a3a3, #696868 ); }
.dem-text-votes, .dem-percent-text{ position:absolute; top:0; left:0; margin-left: 0.3em; margin-top:0.08em; line-height:inherit; height:inherit; }
.dem-percent-text{ display:none; }
.dem-only-percent-txt:before{ content:' - '; }
.dem-answers li:hover .dem-text-votes { display:none; }
.dem-answers li:hover .dem-percent-text { display:block; }

.dem-label-percent-txt{ font-size:80%; opacity:0.8; }
.dem-label-percent-txt:before{ content:'('; }
.dem-label-percent-txt:after{ content:')'; }

.dem-bottom{ text-align: left; }

/* hide */
.dem-label-percent-txt{ display:none; }
.dem-only-percent-txt{ display:none; }


/* button */
.dem-vote-button{ float:left; }
.dem-button{ display:inline-block; }
input[type="submit"].dem-button,
a.dem-button{
	cursor:pointer;
	font-size:80%;
    text-transform: uppercase;
	color:#6c6c6c !important;
	padding:0.7em 1.2em;
	background: #d6d6d6;
	background: linear-gradient(to bottom, #f5f5f5 0%, #e3e3e3 80%, #e8e8e8);
	background: -webkit-linear-gradient(top, #f5f5f5 0%, #e3e3e3 80%, #e8e8e8);
	border-radius: 4px;
	border: 1px solid #c9c9c9 !important;
    line-height: 1;
}
input[type="submit"].dem-button:hover,
a.dem-button:hover{
	border: 1px solid #bbb !important;
	color:#696969 !important;
}
.dem-results-link{ display: inline-block; line-height: 1; margin:0.5em 1em; }



/* archive */
.dem-archives .democracy { margin-bottom:20px; padding-bottom:20px; border-bottom:1px dashed #ccc; }
.dem-archives .dem-archive-link { display: none; }

/* cache */
.dem-cache-notice{ width:100%; padding:.3em 1em; margin-bottom: 1em; background: rgba(238, 255, 85, 0.86); color:#534d1d; }

/* edit-link */
.dem-edit-link{ display: block; position:absolute; top:0; right:0; line-height:1; text-decoration:!important; border:none!important; }
.dem-edit-link svg{ width:1.2em!important; fill:#5a5a5a; }
.dem-edit-link:hover svg{ fill:#c61700; }

/* loader */
.dem-loader{ display:none; position: absolute; top:0; left:0; width: 100%; height: 100%; }
.dem-loader > *{ display: table-cell; vertical-align: middle; text-align: center; }
.dem-loader svg{ width:20%; max-width:100px; margin-bottom:15%; }
.dem-loader [class^="dem-"]{ margin-bottom:15%!important; }
/*.dem-loader svg .fill{ fill:#0063b9!important; }*/
/*.dem-loader svg .stroke{ stroke:#0063b9!important; }*/

/* others */
.dem-star{ font-size:90%; vertical-align: baseline; padding-left:0.3em; color: #ff4e00; }
.dem-poll-note{ font-style:italic; font-size:90%; padding:1em; opacity:0.8; line-height: 1.1; }
.dem-poll-title{ display:block; margin-bottom:3%; margin-top:3%; font-size:120%; }

.dem-copyright{ position:absolute; bottom: -1em; right: -1.2em; text-decoration:none; color:#b2b2b2!important; opacity:0.7; line-height:1; }
.dem-copyright:hover{ opacity:1; }