@import '_common.css';

.dem-poll-title{ text-align: center; }

.dem-link{ display: inline-block; margin:0.8em 0; }
.dem-link,
    .dem-archive-link{ font-size:90%; }

/* vote screen */
.dem-revote-link:before,
    .dem-vote-link:before{ content:'â† '; }

.dem-vote label{ opacity:0.9; float:none; display:block; padding-bottom:0.5em; }
.dem-vote label:hover{ opacity:1; }
.dem-poll-info{ margin-bottom:1%; font-style: normal; }
.dem-poll-info:after{ content:''; display: table; clear: both; }
.dem-poll-info > *{ font-size:85%; display: inline-block; float: right; clear:both; text-align:right; opacity:0.7; line-height: 1.3; }


/* results screen */
.dem-answers .label{ margin-bottom:.2em; line-height: 1.1; }
.dem-answers li{ margin-bottom:0.7em; }
.dem-graph{ background-color: #f2f2f2; position:relative; font-family:Arial, sans-serif; margin-bottom:0.6em; height:0.4em; line-height:0.4em; box-sizing:content-box; }
.dem-graph > *{ font-size:80%; }
.dem-graph .dem-fill{ position:absolute; top:0; left:0; height:100%; background:#9b9b9b; }
.dem-winner .dem-graph .dem-fill{ opacity:0.9; }
.dem-voted-this{ font-weight: bold; }
.dem-voted-this .dem-fill{ background:#414141; }
.dem-votes-text,
    .dem-percent-text{ display:none; }

.dem-label-percent-txt{ font-size:80%; opacity:0.8; }
.dem-label-percent-txt:before{ content:'('; }
.dem-label-percent-txt:after{ content:')'; }
.dem-votes-text-percent{ display:none; }
.dem-votes-text-percent:before{ content:' - '; }

.dem-bottom{ text-align: center; }

/* bottom - hide */
/*.dem-begin-date{ display:none; }*/
/*.dem-label-percent-txt{ display:none; }*/




/* archive */
.dem-archives .democracy { margin-bottom:20px; padding-bottom:20px; border-bottom:1px dashed #ccc; }
.dem-archives .dem-archive-link { display: none; }


